<div class="card @player.TeamAbrv">
@using Color = MudBlazor.Color

 
 <div class="info"> <MudCardHeader>
    <CardHeaderAvatar>
        <MudAvatar Style="width: 120px; height: 100px; background: none;"  Color="Color.Surface">
            <img src="@player.ImgUrl"/>
        </MudAvatar>
    </CardHeaderAvatar>

    <CardHeaderContent>
        <span>@player.FirstName</span>
        <p>@player.LastName</p>
        <MudText Typo="Typo.caption">
         <MudAvatar Style="vertical-align: middle; background: none" Size="Size.Small" Image=@($"Images/logos/{player.TeamAbrv}.svg") 
            Square="true" />
                 - Guard
        </MudText>
    </CardHeaderContent>
 </MudCardHeader>
 </div>

 <div class="bio"> 
  <ul>
    <li><MudIcon Icon="@Icons.Material.Filled.Scale" Style="font-size: 1rem; vertical-align: middle" />Height / Weight</li>
    <li><span>@InchesToCm(player.Height)CM / @LbsToKg(player.Weight)KG</span> </li>
    <li><MudIcon Icon="@Icons.Material.Filled.CalendarMonth" Style="font-size: 1rem; vertical-align: middle"  />Age</li>
    <li><span>@player.BornYear</span></li>
    <li><MudIcon Icon="@Icons.Material.Filled.Elevator" Style="font-size: 1rem; vertical-align: middle" />Draft</li>
    <li><span>2018 - R1 (Pick 6) by ORL</span> </li>
    <li><MudIcon Icon="@Icons.Material.Filled.Explicit" Style="font-size: 1rem; vertical-align: middle" />Experience</li>
    <li><span>4 Years</span></li>
  </ul> 
 </div>

 <div class="overall-stats">
   
     <div class="overall">
     <p>Current Rating</p>
    <MudRating SelectedValue="2" Size="Size.Small" ReadOnly="true" />
    <p>Potential Rating</p>
    <MudRating SelectedValue="5" Size="Size.Small" ReadOnly="true" />
    </div>

     <div class="stats">
     
     <div class="ppg"> 
     <p>24.1</p>
     <span>PPG</span>
     </div>

     <div class="rpg"> 
     <p>6.1</p>
     <span>RPG</span>
     </div>

     <div class="apg"> 
     <p>5.0</p>
     <span>APG</span>
     </div>

     <div class="per"> 
     <p>27.1</p>
     <span>PER</span>
     </div>

     <div class="ts"> 
     <p>64.9</p>
     <span>TS%</span>
     </div>
    
 </div>

 </div>

</div>
