@using pax.BlazorChartJs
@inject ILocalStorageService LocalStorage

<MudContainer>
    <div class="card-ratings border">
        
        @if (rating != null)
        {
            
      
            <div class="ratings">
                <div class="chart">
                    <ChartComponent @ref="chartComponent" ChartJsConfig="chartJsConfig"></ChartComponent>
                </div>
                <div class="chart">
                    <ChartComponent @ref="chartComponent2" ChartJsConfig="chartJsConfig2"></ChartComponent>
                </div>
            </div>
             <div class="badges ">

                    <div>
                    <MudAvatarGroup Max="4" Spacing="0">
                        @foreach (var badge in badgesSkills)
                        {
                            bool playerHasBadge = rating.Skills.Contains(badge);
                            <MudTooltip Arrow="true" Placement="Placement.Top" Text="@GetBadgeName(badge)">
                                <div>
                                    <img src=@($"Images/Badges/{badge}.svg") class=" @(playerHasBadge ? "" : "disabled-image")" />
                                </div>
                            </MudTooltip>
                        }
                    </MudAvatarGroup>
                    </div>

                    <div>
                    <MudAvatarGroup Max="4" Spacing="0">
                        @foreach (var badge in badgesPhysical)
                        {
                            bool playerHasBadge = rating.Skills.Contains(badge);
                            <MudTooltip Arrow="true" Placement="Placement.Top"  Text="@GetBadgeName(badge)">
                                <div>
                                    <img src=@($"Images/Badges/{badge}.svg") class=" @(playerHasBadge ? "" : "disabled-image")" />
                                </div>
                            </MudTooltip>
                        }
                    </MudAvatarGroup>
                    </div>
                    
             </div>
        }
    </div>

    <div class="card-info border">

    <div class="bio"> 
      <MudList Dense="true">
        <MudListSubheader>
            Personal Info
        </MudListSubheader>
        <MudListItem Icon="@Icons.Material.Filled.Height">
           <p>Height / Weight</p><span>@Util.InchesToCm(player.Hgt)CM / @Util.LbsToKg(player.Weight)KG</span>
        </MudListItem>
        <MudListItem Icon="@Icons.Material.Filled.CalendarMonth">
            <p>Age</p><span>@(season - player.Born.Year)</span>
        </MudListItem>
        <MudListItem Icon="@Icons.Material.Filled.Elevator">
            <p>Draft</p><span>2018 - R1 (Pick 6) by ORL</span>
        </MudListItem>
        <MudListItem Icon="@Icons.Material.Filled.Work">
           <p>Experience</p><span>@player.Ratings.Count Year(s)</span>
        </MudListItem>
      </MudList>
     </div>

     <div class="bio"> 
      <MudList Dense="true">
        <MudListSubheader>
            Contract
        </MudListSubheader>
      
          @if (player.Contract != null)
          {
          <MudListItem Icon="@Icons.Material.Filled.AttachMoney">
                      <p>Season / Amount</p>
                      <span>@player.Contract.Amount</span>
          </MudListItem>
          }
      </MudList>
     </div>

     <div class="bio"> 
      <MudList Dense="true">
        <MudListSubheader>
            Awards
        </MudListSubheader>
        <MudListItem Icon="@Icons.Material.Filled.Send">
           <p>Season / Amount</p><span>Nome</span>
        </MudListItem>
   
      </MudList>
     </div>

    </div>

    
</MudContainer>

        