@page "/playerComparison/{id:int}"
@inject IPlayerService PlayerService

<MudContainer>
<div class="players">
@if (playerOne !=  null)
{
    <MudGrid>

        <MudItem xs="12" sm="6">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
             
                 <MudProgressLinear Style="transform: scaleX(1); margin: 5px" Rounded="true" Color="Color.Info" Size="Size.Medium" Value="@playerOne.Ratings.LastOrDefault().Ovr" Class="my-7"/>
                 <span>(@playerOne.Ratings.LastOrDefault().Ovr) OVR</span>

                 <MudProgressLinear Style="transform: scaleX(1); margin: 5px" Rounded="true" Color="Color.Info" Size="Size.Medium" Value="@playerOne.Ratings.LastOrDefault().Pot" Class="my-7"/>
                 <span>(@playerOne.Ratings.LastOrDefault().Pot) POT</span>

            </MudPaper>

         
        </MudItem>
    
        @if (playerTwo != null)
        {
            <MudItem xs="12" sm="6">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
             
                     <MudProgressLinear Style="transform: scaleX(-1); margin: 5px" Rounded="true" Color="Color.Info" Size="Size.Medium" Value="@playerTwo.Ratings.LastOrDefault().Pot"  Class="my-7"/>
                     <span>(@playerTwo.Ratings.LastOrDefault().Pot) OVR</span>
            </MudPaper>
            </MudItem>
        }
    </MudGrid>

}
</div>
</MudContainer>