@page "/playerComparison/{id:int}"
@inject IPlayerService PlayerService
@inject ILocalStorageService LocalStorage

<MudContainer>
<div class="players">
@if (playerOne !=  null)
{
    <MudGrid>

        <MudItem xs="12" sm="6">
            <MudPaper Class="align-center justify-center mud-width-full py-8">

                    <div class="players-header">
                         <CardHeaderAvatar>
       
                             <MudAvatar Style="width: 120px; height: 100px; background: none;"  Color="Color.Surface">
                                        <img src="@playerOne.ImgUrl"/>
                             </MudAvatar>
                         </CardHeaderAvatar>

                         <h3>@playerOne.Name | @playerOne.Pos | @(season - playerOne.Born.Year) years</h3>

                    </div>

                    <MudList Dense="true">
                        
                        <MudListItem Dense="true">
                           <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().CalculateOvr" />
                                <span>(@playerOne.Ratings.LastOrDefault().CalculateOvr) OVR</span>
                            </div>
                        </MudListItem>
                      
                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Pot" />
                                <span>(@playerOne.Ratings.LastOrDefault().Pot) POT</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Ins" />
                                <span>(@playerOne.Ratings.LastOrDefault().Ins) INS</span>
                            </div>
                        </MudListItem>
                 
                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Dnk" />
                                <span>(@playerOne.Ratings.LastOrDefault().Dnk) DNK</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Ft" />
                                <span>(@playerOne.Ratings.LastOrDefault().Ft) FTS</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Ins" />
                                <span>(@playerOne.Ratings.LastOrDefault().Ins) 2PT</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Tp" />
                                <span>(@playerOne.Ratings.LastOrDefault().Tp) 3PT</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Drb" />
                                <span>(@playerOne.Ratings.LastOrDefault().Drb) DRL</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Pss" />
                                <span>(@playerOne.Ratings.LastOrDefault().Pss) PAS</span>
                            </div>
                        </MudListItem>


                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Reb" />
                                <span>(@playerOne.Ratings.LastOrDefault().Reb) REB</span>
                            </div>
                        </MudListItem>
                 
                  

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Hgt" />
                                <span>(@playerOne.Ratings.LastOrDefault().Hgt) HGT</span>
                            </div>
                        </MudListItem>

                

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Spd" />
                                <span>(@playerOne.Ratings.LastOrDefault().Spd) SPD</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Jmp" />
                                <span>(@playerOne.Ratings.LastOrDefault().Jmp) JMP</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Endu" />
                                <span>(@playerOne.Ratings.LastOrDefault().Endu) END</span>
                            </div>
                        </MudListItem>

                    </MudList>

            </MudPaper>

         
        </MudItem>
    
        @if (playerTwo != null)
        {

          <MudItem xs="12" sm="6">
            <MudPaper Class="align-center justify-center mud-width-full py-8">


                    <div class="players-header">
                         <CardHeaderAvatar>
       
                             <MudAvatar Style="width: 120px; height: 100px; background: none;"  Color="Color.Surface">
                                        <img src="@playerTwo.ImgUrl"/>
                             </MudAvatar>
                         </CardHeaderAvatar>

                         <h3>@playerTwo.Name | @playerTwo.Pos | @(season - playerTwo.Born.Year) years</h3>

                    </div>

                    <MudList Dense="true">
                        
                        <MudListItem Dense="true">
                           <div class="progress">
                                <span>(@playerTwo.Ratings.LastOrDefault().CalculateOvr) OVR</span>
                                <MudProgressLinear Rounded="true" Style="transform: scaleX(-1); margin: 0; padding: 0;" Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().CalculateOvr" />
                            </div>
                        </MudListItem>
                      
                        <MudListItem Dense="true">
                            <div class="progress">
                                <span>(@playerTwo.Ratings.LastOrDefault().Pot) POT</span>
                                <MudProgressLinear Rounded="true" Style="transform: scaleX(-1); margin: 0; padding: 0;" Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Pot" />
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <span>(@playerTwo.Ratings.LastOrDefault().Ins) INS</span>
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Ins" />
                            </div>
                        </MudListItem>
                 
                        <MudListItem Dense="true">
                            <div class="progress">
                                <span>(@playerTwo.Ratings.LastOrDefault().Dnk) DNK</span>
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Dnk" />
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <span>(@playerTwo.Ratings.LastOrDefault().Ft) FTS</span>
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Ft" />
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <span>(@playerTwo.Ratings.LastOrDefault().Ins) 2PT</span>
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Ins" />
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <span>(@playerTwo.Ratings.LastOrDefault().Tp) 3PT</span>
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Tp" />
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <span>(@playerTwo.Ratings.LastOrDefault().Drb) DRL</span>
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Drb" />
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <span>(@playerTwo.Ratings.LastOrDefault().Pss) PAS</span>
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Pss" />
                            </div>
                        </MudListItem>




                        <MudListItem Dense="true">
                            <div class="progress">
                                <span>(@playerTwo.Ratings.LastOrDefault().Reb) REB</span>
                                <MudProgressLinear Rounded="true" Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Reb" />
                            </div>
                        </MudListItem>
                 
                 

                        <MudListItem Dense="true">
                            <div class="progress">
                                <span>(@playerTwo.Ratings.LastOrDefault().Hgt) HGT</span>
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Hgt" />
                            </div>
                        </MudListItem>

                  

                        <MudListItem Dense="true">
                            <div class="progress">
                                <span>(@playerTwo.Ratings.LastOrDefault().Spd) SPD</span>
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Spd" />
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <span>(@playerOne.Ratings.LastOrDefault().Jmp) JMP</span>
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Jmp" />
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <span>(@playerTwo.Ratings.LastOrDefault().Endu) END</span>
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;" Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Endu" />
                            </div>
                        </MudListItem>

                    </MudList>

            </MudPaper>

         
         </MudItem>

        }
    </MudGrid>

}
</div>
</MudContainer>