@page "/playerComparison/{id:int}"
@inject IPlayerService PlayerService

<MudContainer>
<div class="players">
@if (playerOne !=  null)
{
    <MudGrid>

        <MudItem xs="12" sm="6">
            <MudPaper Class="align-center justify-center mud-width-full py-8">

                    <MudList Dense="true">
                        
                        <MudListItem Dense="true">
                           <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Ovr" />
                                <span>(@playerOne.Ratings.LastOrDefault().Ovr) OVR</span>
                            </div>
                        </MudListItem>
                      
                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Pot" />
                                <span>(@playerOne.Ratings.LastOrDefault().Pot) POT</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Ins" />
                                <span>(@playerOne.Ratings.LastOrDefault().Ins) INS</span>
                            </div>
                        </MudListItem>
                 
                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Dnk" />
                                <span>(@playerOne.Ratings.LastOrDefault().Dnk) DNK</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Ft" />
                                <span>(@playerOne.Ratings.LastOrDefault().Ft) FTS</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Ins" />
                                <span>(@playerOne.Ratings.LastOrDefault().Ins) 2PT</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Tp" />
                                <span>(@playerOne.Ratings.LastOrDefault().Tp) 3PT</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Drb" />
                                <span>(@playerOne.Ratings.LastOrDefault().Drb) DRL</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Pss" />
                                <span>(@playerOne.Ratings.LastOrDefault().Pss) PAS</span>
                            </div>
                        </MudListItem>



                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Stl" />
                                <span>(@playerOne.Ratings.LastOrDefault().Stl) STL</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Reb" />
                                <span>(@playerOne.Ratings.LastOrDefault().Reb) REB</span>
                            </div>
                        </MudListItem>
                 
                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Blk" />
                                <span>(@playerOne.Ratings.LastOrDefault().Blk) BLK</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Hgt" />
                                <span>(@playerOne.Ratings.LastOrDefault().Hgt) HGT</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Str" />
                                <span>(@playerOne.Ratings.LastOrDefault().Str) STR</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Spd" />
                                <span>(@playerOne.Ratings.LastOrDefault().Spd) SPD</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().Jmp" />
                                <span>(@playerOne.Ratings.LastOrDefault().Jmp) JMP</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="margin: 0; padding: 0;" Color="Color.Primary" Size="Size.Small" Value="@playerOne.Ratings.LastOrDefault().End" />
                                <span>(@playerOne.Ratings.LastOrDefault().End) END</span>
                            </div>
                        </MudListItem>

                    </MudList>

            </MudPaper>

         
        </MudItem>
    
        @if (playerTwo != null)
        {

          <MudItem xs="12" sm="6">
            <MudPaper Class="align-center justify-center mud-width-full py-8">

                    <MudList Dense="true">
                        
                        <MudListItem Dense="true">
                           <div class="progress">
                                <MudProgressLinear Rounded="true" Style="transform: scaleX(-1); margin: 0; padding: 0;" Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Ovr" />
                                <span>(@playerTwo.Ratings.LastOrDefault().Ovr) OVR</span>
                            </div>
                        </MudListItem>
                      
                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="transform: scaleX(-1); margin: 0; padding: 0;" Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Pot" />
                                <span>(@playerTwo.Ratings.LastOrDefault().Pot) POT</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Ins" />
                                <span>(@playerTwo.Ratings.LastOrDefault().Ins) INS</span>
                            </div>
                        </MudListItem>
                 
                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Dnk" />
                                <span>(@playerTwo.Ratings.LastOrDefault().Dnk) DNK</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Ft" />
                                <span>(@playerTwo.Ratings.LastOrDefault().Ft) FTS</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Ins" />
                                <span>(@playerTwo.Ratings.LastOrDefault().Ins) 2PT</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Tp" />
                                <span>(@playerTwo.Ratings.LastOrDefault().Tp) 3PT</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Drb" />
                                <span>(@playerTwo.Ratings.LastOrDefault().Drb) DRL</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Pss" />
                                <span>(@playerTwo.Ratings.LastOrDefault().Pss) PAS</span>
                            </div>
                        </MudListItem>



                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Stl" />
                                <span>(@playerTwo.Ratings.LastOrDefault().Stl) STL</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true" Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Reb" />
                                <span>(@playerTwo.Ratings.LastOrDefault().Reb) REB</span>
                            </div>
                        </MudListItem>
                 
                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Blk" />
                                <span>(@playerTwo.Ratings.LastOrDefault().Blk) BLK</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Hgt" />
                                <span>(@playerTwo.Ratings.LastOrDefault().Hgt) HGT</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Str" />
                                <span>(@playerTwo.Ratings.LastOrDefault().Str) STR</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Spd" />
                                <span>(@playerTwo.Ratings.LastOrDefault().Spd) SPD</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;"  Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().Jmp" />
                                <span>(@playerOne.Ratings.LastOrDefault().Jmp) JMP</span>
                            </div>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <div class="progress">
                                <MudProgressLinear Rounded="true"  Style="transform: scaleX(-1); margin: 0; padding: 0;" Color="Color.Secondary" Size="Size.Small" Value="@playerTwo.Ratings.LastOrDefault().End" />
                                <span>(@playerTwo.Ratings.LastOrDefault().End) END</span>
                            </div>
                        </MudListItem>

                    </MudList>

            </MudPaper>

         
         </MudItem>

        }
    </MudGrid>

}
</div>
</MudContainer>