<MudContainer>
  <div class="ratings">
  <table>
    <thead>
      <tr>
        <th>Year</th>
        <th>Age</th>
        <th title="Overall">OVR</th>
        <th title="Potential">POT</th>
        <th title="Height">HGT</th>
        <th title="Strength">STR</th>
        <th title="Speed">SPD</th>
        <th title="Jumping">JMP</th>
        <th title="Endurance">END</th>
        <th title="Inside Scoring">INS</th>
        <th title="Dunks/Layups">DNK</th>
        <th title="Free Throw Shooting">FT</th>
        <th title="Two-Point Shooting">2PT</th>
        <th title="Three-Point Shooting">3PT</th>
        <th title="Blocks">BLK</th>
        <th title="Steals">STL</th>
        <th title="Dribbling">DRB</th>
        <th title="Passing">PSS</th>
        <th title="Rebounding">REB</th>
        <th>SKILLS</th>
      </tr>
    </thead>
    <tbody>
     @foreach(var rating in ratings){
      <tr>
       <td>@rating.Season</td>
       <td>@(rating.Season - player.Born.Year )</td>
       <td>@rating.Ovr</td>
       <td>@rating.Pot</td>
       <td>@rating.Hgt</td>
       <td>@rating.Str</td>
       <td>@rating.Spd</td>
       <td>@rating.Jmp</td>
       <td>@rating.End</td>
       <td>@rating.Ins</td>
       <td>@rating.Dnk</td>
       <td>@rating.Ft</td>
       <td>@rating.Fg</td>
       <td>@rating.Tp</td>
       <td>@rating.Blk</td>
       <td>@rating.Stl</td>
       <td>@rating.Drb</td>
       <td>@rating.Pss</td>
       <td>@rating.Reb</td>
       <td>
          @foreach(string skill in rating.Skills)
          {
              <span style="margin: 2px">@skill</span>              
          }
       </td>
      </tr>
      }
    </tbody>

  </table>
  </div>
</MudContainer>
