@using NBALigaSimulation.Client.Utilities
@if (_player != null)
{
    
    <div class="player-header @_player.TeamAbrv">
        
        <div class="player-header-card">
        
            <div class="player-header-card-bio">
        
                <div class="player-header-card-img">
                    <img src="@_player.ImgUrl" alt="Foto do jogador">
                </div>
            
                <div class="player-header-card-info">
                    <h3>@_player.Name</h3>
                    <p>@_player.TeamName - @Util.Position(_player.Pos)
                    <span class="badge @Util.GetBadgeClass(@_ovr)">@_ovr</span>
                    <span class="badge  @Util.GetBadgeClass(@_pot)">@_pot</span>
                    </p>
                </div>
            
            </div>
            
            @if (_stats != null )
            {
                
                <div class="player-header-stats">
                    <table class="stats">
                        <thead>
                        <tr>
                            <th colspan="4">SEASON STATS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span>PTS</span>
                                @_stats.PtsPG
                            </td>
                            <td>
                                <span>REB</span>
                                @_stats.TRebPG
                            </td>
                            <td>
                                <span>AST</span>
                                @_stats.AstPG
                            </td>
                            <td>
                                <span>FG%</span>
                                @_stats.FgPct
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                
            }
           
            
        </div>
        
    </div>
    
    
    
}

