@using NBALigaSimulation.Client.Utilities
@using System.Globalization
@inject ILocalStorageService LocalStorage
@if (_player != null)
{
    var teamColors = $"--team-primary: var(--{_player.TeamAbrv}-p); --team-secondary: var(--{_player.TeamAbrv}-s);";
    var backgroundStyle = $"background-image: url('../Images/Logos/{_player.TeamAbrv}.svg');";
    
    <div class="player-header" style="@backgroundStyle @teamColors">
        
        <div class="player-header-card">

            <div class="player-header-photo">
                <img src="@_player.ImgUrl" alt="@_player.Name"/>
            </div>
            
            <div class="player-header-card-bio">
        
                <div class="player-header-card-info">
                    <h3>@_player.Name</h3>
                    <p>
                        <img src=@($"../Images/Logos/{_player.TeamAbrv}.svg") class="team-logo" alt="@_player.TeamAbrv"/>
                        <span>@_player.TeamName.Split(' ').Last()</span>
                        <span>&bull;</span>
                        <span>@Util.Position(_player.Pos)</span>
                        <span>&bull;</span>
                        <span class="badge @Util.GetBadgeClass(_ratings.CalculateOvr)">@_ratings.CalculateOvr</span>
                        <span class="badge @Util.GetBadgeClass(_ratings.Pot)">@_ratings.Pot</span>
                    </p>
                </div>
            
            </div>
            
            @if (_stats != null )
            {
                
                <div class="player-header-stats">
                    <table class="stats">
                        <thead>
                        <tr>
                            <th colspan="4">SEASON STATS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span>PTS</span>
                                @if (double.TryParse(_stats.PtsPG, NumberStyles.Any, CultureInfo.InvariantCulture, out var ptsVal)) { @Util.FormatStat(ptsVal) } else if (!string.IsNullOrEmpty(_stats.PtsPG)) { @_stats.PtsPG }
                            </td>
                            <td>
                                <span>REB</span>
                                @if (double.TryParse(_stats.TRebPG, NumberStyles.Any, CultureInfo.InvariantCulture, out var rebVal)) { @Util.FormatStat(rebVal) } else if (!string.IsNullOrEmpty(_stats.TRebPG)) { @_stats.TRebPG }
                            </td>
                            <td>
                                <span>AST</span>
                                @if (double.TryParse(_stats.AstPG, NumberStyles.Any, CultureInfo.InvariantCulture, out var astVal)) { @Util.FormatStat(astVal) } else if (!string.IsNullOrEmpty(_stats.AstPG)) { @_stats.AstPG }
                            </td>
                            <td>
                                <span>FG%</span>
                                @if (double.TryParse(_stats.FgPct, NumberStyles.Any, CultureInfo.InvariantCulture, out var fgVal)) { @Util.FormatStat(fgVal, "F1") } else if (!string.IsNullOrEmpty(_stats.FgPct)) { @_stats.FgPct }
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                
            }
           
            
        </div>
        
    </div>
    
}

