<div class="stats-container">
    <div class="stats">
         <table>
              
            <thead>
            <tr>
                <th colspan="25">SEASON STATS</th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <td colspan="5" style="text-align: center"></td>
                <td colspan="3"  style="text-align: center">FG</td>
                <td colspan="3"  style="text-align: center">3PT</td>
                <td colspan="3"  style="text-align: center">FT</td>
                <td colspan="3"  style="text-align: center">REB</td>
                <td colspan="8"  style="text-align: center"></td>
            </tr>
            <tr >
                @foreach (var h in stats)
                {
                    <td>@h</td>
                }
            </tr>
            </tbody>
            <tbody>
            @foreach (var regularStats in _regularStats)
            {
                <tr >
                    <td>@regularStats.Season</td>
                    <td> <img src=@($"../Images/Logos/{regularStats.TeamAbrv}.svg") alt="Girl in a jacket" width="25"> </td>
                    <td>@regularStats.Games</td>
                    <td>@regularStats.Gs</td>
                    <td>@regularStats.MinPG</td>
                    <td>@regularStats.FgPG</td>
                    <td>@regularStats.FgaPG</td>
                    <td>@regularStats.FgPct</td>
                    <td>@regularStats.TpPG</td>
                    <td>@regularStats.TpaPG</td>
                    <td>@regularStats.TpPct</td>
                    <td>@regularStats.FtPG</td>
                    <td>@regularStats.FtaPG</td>
                    <td>@regularStats.FtPct</td>
                    <td>@regularStats.ORebPG</td>
                    <td>@regularStats.DRebPG</td>
                    <td>@regularStats.TRebPG</td>
                    <td>@regularStats.AstPG</td>
                    <td>@regularStats.TovPG</td>
                    <td>@regularStats.StlPG</td>
                    <td>@regularStats.BlkPG</td>
                    <td>@regularStats.PfPG</td>
                    <td>@regularStats.PtsPG</td>
                    <td>@regularStats.PER</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
