@using NBALigaSimulation.Client.Utilities
<div class="container-fluid">
    @if (_regularStats != null)
    {
        <div class="table-responsive">
            <table class="table caption-top">
                <caption>Regular Season Stats</caption>
                <thead>
                <tr>
                    <th colspan="5" style="text-align: center"></th>
                    <th colspan="3" style="text-align: center">FG</th>
                    <th colspan="3" style="text-align: center">3PT</th>
                    <th colspan="3" style="text-align: center">FT</th>
                    <th colspan="3" style="text-align: center">REB</th>
                    <th colspan="8" style="text-align: center"></th>
                </tr>
                <tr>
                    @foreach (var th in _stats)
                    {
                        <th>@th</th>
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (var stats in _regularStats)
                {
                    <tr>
                        <td>@stats.Season</td>
                        <td>@Util.Age(@stats.Season, _player.Born.Year)</td>
                        <td ><img src=@($"../Images/Logos/{stats.TeamAbrv}.svg") alt="Team logo" width="25"> </td>
                        <td>@stats.Games</td>
                        <td>@stats.Gs</td>
                        <td>@stats.MinPG</td>
                        <td>@stats.FgPG</td>
                        <td>@stats.FgaPG</td>
                        <td>@stats.FgPct</td>
                        <td>@stats.TpPG</td>
                        <td>@stats.TpaPG</td>
                        <td>@stats.TpPct</td>
                        <td>@stats.FtPG</td>
                        <td>@stats.FtaPG</td>
                        <td>@stats.FtPct</td>
                        <td>@stats.ORebPG</td>
                        <td>@stats.DRebPG</td>
                        <td>@stats.TRebPG</td>
                        <td>@stats.AstPG</td>
                        <td>@stats.TovPG</td>
                        <td>@stats.StlPG</td>
                        <td>@stats.BlkPG</td>
                        <td>@stats.PfPG</td>
                        <td>@stats.PtsPG</td>
                        <td>@stats.PER</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <div class="table-responsive">

            <table class="table caption-top">

                <caption>Regular Season Shot Locations</caption>
                <thead>
                <tr>
                    <th colspan="6" style="text-align: center"></th>
                    <th colspan="3" style="text-align: center">AT RIM</th>
                    <th colspan="3" style="text-align: center">LOW POST</th>
                    <th colspan="3" style="text-align: center">MID-RANGE</th>
                    <th colspan="3" style="text-align: center">3PT</th>
                </tr>
                <tr>
                    @foreach (var th in _locations)
                    {
                        <th>@th</th>
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (var stats in _regularStats)
                {
                    <tr>
                        <td>@stats.Season</td>
                        <td>@Util.Age(@stats.Season, _player.Born.Year)</td>
                        <td ><img src=@($"../Images/Logos/{stats.TeamAbrv}.svg") alt="Team logo" width="25"> </td>
                        <td>@stats.Games</td>
                        <td>@stats.Gs</td>
                        <td>@stats.MinPG</td>
                        <td>@stats.FgAtRim</td>
                        <td>@stats.FgaAtRim</td>
                        <td>@stats.FgAtRimPct</td>
                        <td>@stats.FgLowPost</td>
                        <td>@stats.FgaLowPost</td>
                        <td>@stats.FgLowPostPct</td>
                        <td>@stats.FgMidRange</td>
                        <td>@stats.FgaMidRange</td>
                        <td>@stats.FgMidRangePct</td>
                        <td>@stats.Tp</td>
                        <td>@stats.Tpa</td>
                        <td>@stats.TpPct</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
</div>


