@page "/players/{PlayerId:int}"
@inject IPlayerService PlayerService

@if (_player != null)
{
    <PlayerHeader _player="@_player" />
    
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link @(ActiveTab == "Bio" ? "active" : "")" @onclick='() => SetActiveTab("Bio")'>Bio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ActiveTab == "Stats" ? "active" : "")" @onclick='() => SetActiveTab("Stats")'>Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ActiveTab == "Game Logs" ? "active" : "")" @onclick='() => SetActiveTab("Game Logs")'>Game Logs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ActiveTab == "Ratings" ? "active" : "")" @onclick='() => SetActiveTab("Ratings")'>Ratings</a>
            </li>
        </ul>
    </div>
    
    <div class="tab-content">
        @if (ActiveTab == "Bio")
        {
            <PlayerRating _player="@_player"/>
        }
        else if (ActiveTab == "Stats")
        {
            <PlayerStats _player="@_player"/>
        }
        else if (ActiveTab == "Game Logs")
        {
            <PlayerLogs _player="@_player"/>
        }
        else if (ActiveTab == "Ratings")
        {
            <PlayerProgression _player="@_player"/>
        }
    </div>
    
}
else
{
  @_message;
}