@using NBALigaSimulation.Client.Utilities
@inject ILocalStorageService LocalStorage

@if (_rating != null)
{
    <div class="ratings-container">

        <div class="ratings-main-content">
            <SkillRatings _rating="@_rating" />
        </div>

        <div class="ratings-sidebar">
            
            <div class="info-card">
                <h3 class="info-card-header">PLAYER TYPES</h3>
                <div class="badges-grid">
                    @foreach (var badge in _badgesSkills.Concat(_badgesPhysical))
                    {
                        bool playerHasBadge = _rating.Skills.Contains(badge);
                        <div class="badge-item @(playerHasBadge ? "" : "disabled-badge")" data-bs-placement="top" data-bs-toggle="tooltip" title="@GetBadgeName(badge)">
                            <img src=@($"Images/Badges/{badge}.svg") alt="@GetBadgeName(badge)"/>
                            <span class="badge-name">@GetBadgeName(badge)</span>
                        </div>
                    }
                </div>
            </div>

            <div class="info-card">
                <h3 class="info-card-header">BIOGRAPHY</h3>
                <ul class="bio-list">
                    <li class="bio-list-item">
                        <span class="title">Height/Weight</span>
                        <span class="value">@Util.InchesToCm(_player.Hgt)cm, @Util.LbsToKg(_player.Weight)kg</span>
                    </li>
                    <li class="bio-list-item">
                        <span class="title">Born</span>
                        <span class="value">@_player.Born.Year (@Util.Age(_season, _player.Born.Year))</span>
                    </li>
                    <li class="bio-list-item">
                        <span class="title">From</span>
                        <span class="value">@_player.Born.Loc</span>
                    </li>
                    <li class="bio-list-item">
                        <span class="title">Draft</span>
                        <span class="value">
                            @if (_player.Draft?.Team?.Length > 0 || _player.Draft?.Pick > 0)
                            {
                                <span>@(_player.Draft.Year) - Rnd @(_player.Draft.Round) (Pick @(_player.Draft.Pick)) by @(_player.Draft.Team)</span>
                            }
                            else
                            {
                                <span>Undrafted</span>
                            }
                        </span>
                    </li>
                </ul>
            </div>
            
            <div class="info-card">
                 <CareerBests _player="@_player" />
            </div>

        </div>

    </div>
}
