@page "/profile/admin"
@attribute [Authorize]
@inject ISeasonService SeasonService
@inject IDraftService DraftService
@inject IGameService GameService
@inject IPlayoffsService PlayoffsService
@inject ISnackbar Snackbar

<MudContainer>
    <div class="container"> 
        <MudPaper Width="500px">
            <MudList Clickable="true">
                <MudListSubheader>
                    Admin Painel
                </MudListSubheader>
       
                <MudListItem Icon="@Icons.Material.Filled.Inbox" Text="Season" InitiallyExpanded="true">
                    <NestedList>
                        <MudListItem Icon="@Icons.Material.Filled.Add">
                         <MudButton Variant="Variant.Text" OnClick="CreateSeason">Criar Temporada</MudButton>  
                        </MudListItem>

                        <MudListItem Icon="@Icons.Material.Filled.Add">
                         <MudButton Variant="Variant.Text" OnClick="GenerateTC">Training Camp</MudButton>  
                        </MudListItem>

                        <MudListItem Icon="@Icons.Material.Filled.Add">
                         <MudButton Variant="Variant.Text" OnClick="GenerateSchedule">Criar Schedule</MudButton>  
                        </MudListItem>

                        <MudListItem Icon="@Icons.Material.Filled.Add">
                         <MudButton Variant="Variant.Text" OnClick="SimGameByDateRegular">Simular Rodada</MudButton>  
                        </MudListItem>

                    </NestedList>
                </MudListItem>

                <MudListItem Icon="@Icons.Material.Filled.Inbox" Text="Draft" InitiallyExpanded="true">
                    <NestedList>
                        <MudListItem Icon="@Icons.Material.Filled.Add">
                         <MudButton Variant="Variant.Text" OnClick="CreateLottery">Criar Loteria</MudButton>  
                        </MudListItem>

                        <MudListItem Icon="@Icons.Material.Filled.Add">
                         <MudButton Variant="Variant.Text" OnClick="CreateDraft">Criar Draft</MudButton>  
                        </MudListItem>
                    </NestedList>
                </MudListItem>

                <MudListItem Icon="@Icons.Material.Filled.Inbox" Text="FA" InitiallyExpanded="true">
                    <NestedList>
                        <MudListItem Icon="@Icons.Material.Filled.Add">
                         <MudButton Variant="Variant.Text" >Simular FA</MudButton>  
                        </MudListItem>
                    </NestedList>
                </MudListItem>

                 <MudListItem Icon="@Icons.Material.Filled.Inbox" Text="Playoffs" InitiallyExpanded="true">
                    <NestedList>
                        <MudListItem Icon="@Icons.Material.Filled.Add">
                           <MudButton Variant="Variant.Text" OnClick="SimGameByDatePlayoffs">Simular Rodada Playoffs</MudButton>  
                        </MudListItem>

                        <MudListItem Icon="@Icons.Material.Filled.Add">
                           <MudButton Variant="Variant.Text" OnClick="Generate2round">Gerar 2º Round</MudButton>  
                        </MudListItem>

                        <MudListItem Icon="@Icons.Material.Filled.Add">
                           <MudButton Variant="Variant.Text" OnClick="Generate3round">Gerar 3º Round</MudButton>  
                        </MudListItem>

                        <MudListItem Icon="@Icons.Material.Filled.Add">
                           <MudButton Variant="Variant.Text" OnClick="Generate4round">Gerar 4º Round</MudButton>  
                        </MudListItem>

                        <MudListItem Icon="@Icons.Material.Filled.Add">
                           <MudButton Variant="Variant.Text" OnClick="EndPlayoffs">Terminar Playoffs</MudButton>  
                        </MudListItem>
                    </NestedList>
                </MudListItem>

         

            </MudList>
        </MudPaper>
    </div>
</MudContainer>