﻿
@page "/profile"
@attribute [Authorize]
@inject IAuthService AuthService
@inject ITeamService TeamService
@inject IPlayerService PlayerService


@if (team == null)
{
 @message
} else
{

 <AuthorizeView>
  <MudContainer>
    <div class="card @team.Abrv">
        <h1>@team.Region @team.Name</h1>
    </div>
  
    <MudGrid Class="d-flex justify-center" Style="margin-top: 10px;">
     <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
       <MudButton StartIcon="@Icons.Material.Filled.CompareArrows" IconColor="Color.Primary">Trade Center</MudButton>
       <MudButton StartIcon="@Icons.Material.Filled.BusinessCenter" IconColor="Color.Primary">FA Center</MudButton>
       <MudButton Href="/change-password"  StartIcon="@Icons.Material.Filled.Password" IconColor="Color.Primary">Trocar Senha</MudButton>
     </MudButtonGroup>
    </MudGrid>

    <div class="row">
        <b class="col-12">
            DropedItem vasco:@DropedItem
        </b>
        <br />
        <b class="col-12">
            ReplacedItem:@replacedItem
        </b>
    </div>
    <hr />

    <div class="grid-container">
        <Dropzone Context="data" Items="Items" InstantReplace="true" TItem="string" OnItemDrop="@((p)=>OnItemDrop(p))" OnReplacedItemDrop="@((p)=>OnReplacedItemDrop(p))">
            <div>
                <div class="grid-item">@data</div>
            </div>
        </Dropzone>
    </div>


 </MudContainer>
 </AuthorizeView>


}

