﻿
@page "/profile"
@attribute [Authorize]
@inject IAuthService AuthService
@inject ITeamService TeamService
@inject IPlayerService PlayerService


@if (team == null)
{
 @message
} else
{

 <AuthorizeView>
  <MudContainer>
    <div class="card @team.Abrv">
        <h1>@team.Region @team.Name</h1>
    </div>
  
    <MudGrid Class="d-flex justify-center" Style="margin-top: 10px;">
     <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
       <MudButton Size="Size.Small" StartIcon="@Icons.Material.Filled.CompareArrows" IconColor="Color.Primary">Trade HQ</MudButton>
       <MudButton Size="Size.Small" StartIcon="@Icons.Material.Filled.BusinessCenter" IconColor="Color.Primary">FA HQ</MudButton>
       <MudButton Size="Size.Small" Href="/change-password"  StartIcon="@Icons.Material.Filled.Password" IconColor="Color.Primary">Trocar Senha</MudButton>
     </MudButtonGroup>
    </MudGrid>

     <h1 class="d-flex justify-center">DEPTH CHART & GAMEPLAN</h1> 

<div class="container">
    
     <div class="parent border" >

       <div class="div1"> 

         <div class="roster-order">&nbsp;</div>
         <div class="roster-player">
              <span style="width: 150px">NAME</span>
              <span style="width: 40px">POS</span>
              <span style="width: 40px">AGE</span>
              <span style="width: 40px">OVR</span>
         </div>    
   
       </div>

      <div class="div2"> 

           @for (int i = 0; i < team.Players.Count; i++)
            {
                <div class="roster-order @(i < 5 ? "starter" : "bench")">&nbsp;</div>              
            }

      </div>

      <div class="div3"> 
        <Dropzone Context="data" Items="team.Players" InstantReplace="true" TItem="PlayerCompleteDto" OnItemDrop="@((p)=>OnItemDrop(p))" OnReplacedItemDrop="@((p)=>OnReplacedItemDrop(p))">
       
            <div class="roster-player">
              <span style="width: 150px">@data.Name</span>
              <span style="width: 40px">@data.Pos</span>
              <span style="width: 40px">@Age(@data.Born.Year, @data.Ratings.Last().Season)</span>
              <span style="width: 40px">@data.Ratings.Last().Ovr</span>
            </div>

        </Dropzone>
       </div>
     </div>

     <div class="gameplan border">
        
        <div class="offense">
         
              <MudPaper Width="300px">
                    <MudList Clickable="true">
                       
                        <MudListItem Icon="@Icons.Material.Filled.Speed" >

                            <MudSelect Margin="Margin.Dense" T="string" Label="Pace" Variant="Variant.Text">
                                <MudSelectItem Value="@("Slow")" />
                                <MudSelectItem Value="@("Medium")" />
                                <MudSelectItem Value="@("High")" />
                            </MudSelect>

                        </MudListItem> 

                        <MudListItem Icon="@Icons.Material.Filled.SwitchLeft" >

                            <MudSelect Margin="Margin.Dense" T="string" Label="Motion" Variant="Variant.Text">
                                <MudSelectItem Value="@("Slow")" />
                                <MudSelectItem Value="@("Medium")" />
                                <MudSelectItem Value="@("High")" />
                            </MudSelect>

                        </MudListItem> 

                        <MudListItem Icon="@Icons.Material.Filled.CenterFocusStrong" >

                            <MudSelect Margin="Margin.Dense" T="string" Label="Focus" Variant="Variant.Text">
                           <MudSelectItem Value="@("Inside")" />
                                <MudSelectItem Value="@("Balanced")" />
                                <MudSelectItem Value="@("Outside")" />
                            </MudSelect>

                        </MudListItem> 

                        <MudListItem Icon="@Icons.Material.Filled.Shield" >

                            <MudSelect Margin="Margin.Dense" T="string" Label="Defense" Variant="Variant.Text">
                                <MudSelectItem Value="@("Man")" />
                                <MudSelectItem Value="@("Help")" />
                                <MudSelectItem Value="@("Zone")" />
                                <MudSelectItem Value="@("Switch")" />
                            </MudSelect>

                        </MudListItem> 


                        <MudDivider />
             

                    </MudList>
              </MudPaper>


        </div>




     </div>


 </div>


 </MudContainer>
 </AuthorizeView>


}

