@page "/faoffer/{id:int}"
@attribute [Authorize]
@inject IPlayerService PlayerService
@inject ITeamService TeamService
@inject ILocalStorageService LocalStorage


<MudContainer>
<CascadingAuthenticationState>
 <AuthorizeView>
 @if (player != null)
 {
     <div class="d-flex justify-center">
     <MudButton Href="/freeagency" Style="margin: 20px 0;" Variant="Variant.Filled" Color="Color.Primary">FREE AGENCY HQ</MudButton>
     </div>

     <div class="fa">

         <div class="fa-name">
            <p>OFERTA PARA FREE AGENT : <a href="@("player/" + player.Id)">@player.Name</a></p> 
         </div>

         <div class="fa-pic">

             <MudAvatar Style="margin: 10px;width: 120px; height: 100px; background: none;"  Variant="Variant.Outlined" Color="Color.Primary">
                   <img src="@player.ImgUrl"/>
             </MudAvatar>
           
             <div>
                 <span>OVR: @player.Ratings.Last().Ovr</span>
                 <span>POT: @player.Ratings.Last().Pot</span>
             </div>

         </div>

         <div class="fa-cap">
             <span>CAP:<span style="font-weight: 800">$@capSpace.ToString("N0")</span></span>
             <span>TIME:<span style="font-weight: 800">$@GetTeamTotalSalary().ToString("N0")</span></span>
             <span>SPACE:<span style="font-weight: 800; color: green"> $@((capSpace - GetTeamTotalSalary() ).ToString("N0"))</span></span>
             <span>ROSTER:<span style="font-weight: 800; color: green"> @(team.Players.Count + "/15")</span></span>

         </div>

         <div class="fa-contract">
       

         <table class="mud-table border">
            <thead>
                <tr>
                    <th colspan="4"></th>
                    <th>ANUAL</th>
                    <th>ANOS</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4"><MudButton Style="font-size: 10px" Size="Size.Small" Href="/freeagency"  Disabled="HasCap(GetMinContract((season - player.Born.Year)))"  Variant="Variant.Filled" Color="Color.Primary">OFERECER MIN</MudButton></td>
                    <td>$@GetMinContract((season - player.Born.Year)).ToString("N0")</td>
                    <td>1</td>
                    <td>$@GetMinContract((season - player.Born.Year)).ToString("N0")</td>
                </tr>
                <tr>
                    <td colspan="4"><MudButton Style="font-size: 10px" Size="Size.Small"  Href="/freeagency"  Disabled="HasCap(GetMaxContract((season - player.Born.Year)))"  Variant="Variant.Filled" Color="Color.Primary">OFERECER MAX</MudButton></td>
                    <td>$@GetMaxContract((season - player.Born.Year)).ToString("N0")</td>
                    <td>4</td>
                    <td>$@((GetMaxContract((season - player.Born.Year)) * 4).ToString("N0"))</td>
                </tr>
                <tr>
                    <td colspan="4"><MudButton Style="font-size: 10px" Size="Size.Small" Href="/freeagency"  Disabled="HasCap(GetMinContract((season - player.Born.Year)))"  Variant="Variant.Filled" Color="Color.Primary">ENVIAR OFERTA</MudButton></td>
                    <td><input  style="width: 80%;" type="text" @bind="contract" id="salary" name="salary" placeholder="Digite o Salário"></td>
                    <td>
                        <select name="years" id="years" @bind="years">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                     </td>
                    <td>$@((contract * years).ToString("N0"))</td>
                </tr>
            </tbody>
         </table>

         </div>

     </div>

 }
 else
 {
     <div class="d-flex justify-center">
     <MudButton Href="/freeagency" Style="margin: 20px 0;" Variant="Variant.Filled" Color="Color.Primary">FREE AGENCY HQ</MudButton>
     </div>

     <div class="d-flex justify-center">
     <h3 style="margin: 20px 0;">@message</h3>
     </div>      
 }
</AuthorizeView>
 </CascadingAuthenticationState>
 </MudContainer>