@page "/tradecreate"
@attribute [Authorize]
@inject ITradeService TradeService
@inject ITeamService TeamService



<MudContainer>
<CascadingAuthenticationState>
<AuthorizeView>
@if(teamOne != null)
{
     <div class="team-select">
    <div class="select-wrapper">
        <MudSelect ReadOnly="true" Value="@(teamOne.Id)" Style="margin: 10px;" Dense="true" T="int" Label="INIT" Variant="Variant.Filled">
            <MudSelectItem Value="@(teamOne.Id)">@teamOne.Name</MudSelectItem>
        </MudSelect>

      

    </div>

    <div class="select-wrapper">
        <MudSelect Style="margin: 10px;" Dense="true" T="int" Label="WITH" Variant="Variant.Outlined" SelectedValuesChanged="value => OnTeamTwoSelected(value)">
            @foreach (var team in teams)
            {
                <MudSelectItem Value="@(team.Id)">@team.Name</MudSelectItem>
            }
        </MudSelect>

      

    </div>
    </div>
    @if (teamTwo != null){
    <div class="parent-container">
        <div class="send">
        <MudButton Variant="Variant.Filled" Color="Color.Primary">ENVIAR TRADE</MudButton>
        </div>
     <div class="finances">

           @if (teamTwo != null)
        {
         <div class="capspace">
            <p>My Salaries </p>
             @if (teamOneSend != null)
             {
              <span> $@GetTeamOneTotalSalary()</span>
             }
             else
             {
              <span> $0</span>
             }
         </div>
        }

         @if (teamTwo != null)
        {
         <div  class="capspace">
            <p>Salary Match </p>
            <span> $25,369,588</span>
         </div>
        }
        
           @if (teamTwo != null)
        {
         <div  class="capspace">
            <p>@teamTwo.Name Salaries </p>
            @if (teamTwoSend != null)
             {
              <span> $@GetTeamTwoSendTotalSalary()</span>
             }
             else
             {
              <span> $0</span>
             }
         </div>
        }

     </div>
     </div>
     }

     <div class="teams">

         <div class="team-players"> 
            <div style="overflow-x: auto;">
                     <h5>CAP SPACE: $45,369,588</h5>
                    <table class="mud-table border" style="font-size: 12px; table-layout: fixed;">
                        <colgroup>
                            <col style="width: 40px;" /> <!-- Checkbox column width -->
                            <col style="width: 200px;" /> <!-- Avatar + player name column width -->
                            <col /> <!-- Rest of the columns -->
                        </colgroup>
                        <thead>
                            <tr>
                                @foreach (var h in headings)
                                {
                                    <th>@h</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var player in teamOne.Players)
                            {
                                <tr>
                                    <td><input type="checkbox" checked="@IsPlayerSelectedTeamOne(player.Id)" @onchange="() => TogglePlayerSelectionTeamOne(player.Id)" /></td>
                                    <td style="white-space: nowrap; width: 150px;">
                                        <MudAvatar Style="background: none;height:25px;width:25px;vertical-align:middle;margin-right: 2px" Image=@($"Images/logos/{teamOne.Abrv}.svg") />@player.Name
                                    </td>
                                    <td>@player.Pos</td>
                                    <td>@player.Born.Year</td>
                                    <td>@player.Ratings.Last().Ovr</td>
                                    <td>@player.Ratings.Last().Pot</td>
                                    <td>@player.Contract.Amount.ToString("N0")</td>
                                </tr>
                            }
                        </tbody>
             </table>
        </div>

     </div>  


         <div class="team-players"> 
     
    
               @if (teamTwo != null)
                {
                                
                       <div style="overflow-x: auto;">

                            <h5>CAP SPACE: $45,369,588</h5>
                            <table class="mud-table border" style="font-size: 12px; table-layout: fixed;">
                                <colgroup>
                                    <col style="width: 40px;" /> 
                                    <col style="width: 200px;" /> 
                                    <col />
                                </colgroup>
                                <thead>
                                    <tr>
                                        @foreach (var h in headings)
                                        {
                                            <th>@h</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var player in teamTwo.Players)
                                    {
                                        <tr>
                                            <td><input type="checkbox" checked="@IsPlayerSelectedTeamTwo(player.Id)" @onchange="() => TogglePlayerSelectionTeamTwo(player.Id)" /></td>
                                            <td style="white-space: nowrap; width: 150px;">
                                                <MudAvatar Style="background: none;height:25px;width:25px;vertical-align:middle;margin-right: 2px" Image=@($"Images/logos/{teamTwo.Abrv}.svg") /> @player.Name
                                            </td>
                                            <td>@player.Pos</td>
                                            <td>@player.Born.Year</td>
                                            <td>@player.Ratings.Last().Ovr</td>
                                            <td>@player.Ratings.Last().Pot</td>
                                            <td>@player.Contract.Amount.ToString("N0")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                       </div>
                }  

         </div>
     </div> 

}
</AuthorizeView>
</CascadingAuthenticationState>
</MudContainer>

