@page "/tradeoffer/{id:int}"
@attribute [Authorize]
@inject ITradeService TradeService
@inject ILocalStorageService LocalStorage
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<MudContainer>
<CascadingAuthenticationState>
<AuthorizeView>

@if (trade !=  null)
{
    <div class="parent-container">
       @if (trade.TeamOneName == userTeam && trade.Response == null) {
           <div class="send" style="margin-top: 50px">
            <h3>SUA PROPOSTA AINDA NÃO FOI RESPONDIDA.</h3>
           </div>
       } else if (trade.Response != null)
       {
           @if (trade.Response == true)
            {
                <div class="send" style="margin-top: 50px">
                    <h3 style="color: green">A PROPOSTA FOI ACEITA.</h3>
                </div>
            }
            else
            {
                <div class="send" style="margin-top: 50px">
                    <h3  style="color: red">A PROPOSTA FOI RECUSADA.</h3>
                </div>
            }
       }
       else {
            <div class="send">
                <MudButton Style="margin: 25px 10px" Variant="Variant.Filled" Color="Color.Primary" OnClick="AcceptTrade">ACEITAR</MudButton>
                <MudButton Style="margin: 25px 10px" Variant="Variant.Filled" Color="Color.Error" OnClick="DeclineTrade">RECUSAR</MudButton>
            </div>
        }
        
     <div class="finances">

        @if (teamOnePlayers != null)
        {
         <div class="capspace">
             <p>@trade.TeamOneName Salaries</p>
             @if (teamOnePlayers != null)
             {
              <span> $@GetTeamOneTotalSalary().ToString("N0")</span>
             }
             else
             {
              <span> $0</span>
             }
         </div>
        }

        @if (teamOnePlayers != null)
        {
         <div  class="capspace">
            <p>Salary Match </p>
            <span> $25,369,588</span>
         </div>
        }
        
        @if (teamTwoPlayers != null)
        {
         <div  class="capspace">
            <p>@trade.TeamTwoName Salaries </p>
            @if (teamTwoPlayers != null)
             {
              <span> $@GetTeamTwoTotalSalary().ToString("N0")</span>
             }
             else
             {
              <span> $0</span>
             }
         </div>
        }

     </div>
    </div>
   
    <div class="teams">

      <div class="team-players"> 

          @if (teamOnePlayers != null)
          {
            <div style="overflow-x: auto;">
                     <h5>CAP SPACE: $45,369,588</h5>
                    <table class="mud-table border" style="font-size: 12px; table-layout: fixed;">
                        <colgroup>
                            <col style="width: 40px;" /> 
                            <col style="width: 200px;" /> 
                            <col /> 
                        </colgroup>
                        <thead>
                            <tr>
                                @foreach (var h in headings)
                                {
                                    <th>@h</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var player in teamOnePlayers)
                            {
                                <tr>
                                    <td><input type="checkbox" checked="true" disabled /></td>
                                    <td style="white-space: nowrap; width: 150px;">
                                        <MudAvatar Style="background: none;height:25px;width:25px;vertical-align:middle;margin-right: 2px" Image=@($"Images/logos/{trade.TeamOneName}.svg") />@player.Name
                                    </td>
                                    <td>@player.Pos</td>
                                    <td>@player.Born.Year</td>
                                    <td>@player.Ratings.Last().Ovr</td>
                                    <td>@player.Ratings.Last().Pot</td>
                                    <td>$@player.Contract.Amount.ToString("N0")</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <table class="mud-table border" style="margin: 10px auto;"> 
                        <thead>
                        <tr>
                        <th></th>
                        <th>YEAR</th>
                        <th>ROUND</th>
                        <th>TEAM</th>
                        <th>ORIGINAL</th>
                        </tr>
                        </thead>
                        <tbody>
                       
                        @foreach (var pick in teamOnePicks)
                        {
                               <tr>
                               <td><input type="checkbox" disabled /></td>
                               <td>@pick.Year</td>
                               <td>@pick.Round</td>
                               <td><MudAvatar Style="background: none;height:25px;width:25px;vertical-align:middle;margin-right: 2px" Image=@($"Images/logos/{pick.TeamName}.svg") /></td>
                               <td><MudAvatar Style="background: none;height:25px;width:25px;vertical-align:middle;margin-right: 2px" Image=@($"Images/logos/{pick.Original}.svg") /></td>
                               </tr>
                        }
                     
                        </tbody>
                    </table>


            </div>
          }
      </div>  

      <div class="team-players"> 
     
               @if (teamTwoPlayers != null)
               {
                   <div style="overflow-x: auto;">

                         <h5>CAP SPACE: $45,369,588</h5>
                         <table class="mud-table border" style="font-size: 12px; table-layout: fixed;">
                                <colgroup>
                                    <col style="width: 40px;" /> 
                                    <col style="width: 200px;" /> 
                                    <col />
                                </colgroup>
                                <thead>
                                    <tr>
                                        @foreach (var h in headings)
                                        {
                                            <th>@h</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var player in teamTwoPlayers)
                                    {
                                        <tr>
                                            <td><input type="checkbox" checked="true" disabled/></td>
                                            <td style="white-space: nowrap; width: 150px;">
                                                <MudAvatar Style="background: none;height:25px;width:25px;vertical-align:middle;margin-right: 2px" Image=@($"Images/logos/{trade.TeamTwoName}.svg") /> 
                                                 <a href="/">@player.Name</a>
                                            </td>
                                            <td>@player.Pos</td>
                                            <td>@player.Born.Year</td>
                                            <td>@player.Ratings.Last().Ovr</td>
                                            <td>@player.Ratings.Last().Pot</td>
                                            <td>$@player.Contract.Amount.ToString("N0")</td>
                                        </tr>
                                    }
                                </tbody>
                         </table>

                          <table class="mud-table border" style="margin: 10px auto;"> 
                        <thead>
                        <tr>
                        <th></th>
                        <th>YEAR</th>
                        <th>ROUND</th>
                        <th>TEAM</th>
                        <th>ORIGINAL</th>
                        </tr>
                        </thead>
                        <tbody>
                       
                        @foreach (var pick in teamTwoPicks)
                        {
                               <tr>
                                <td><input type="checkbox" disabled /></td>
                               <td>@pick.Year</td>
                               <td>@pick.Round</td>
                               <td><MudAvatar Style="background: none;height:25px;width:25px;vertical-align:middle;margin-right: 2px" Image=@($"Images/logos/{pick.TeamName}.svg") /></td>
                               <td><MudAvatar Style="background: none;height:25px;width:25px;vertical-align:middle;margin-right: 2px" Image=@($"Images/logos/{pick.Original}.svg") /></td>
                               </tr>
                         }
                     
                        </tbody>
                    </table>


                   </div>
               }  
         </div>
    </div> 
}
</AuthorizeView>
</CascadingAuthenticationState>
</MudContainer>
