@page "/game/{id:int}"
@inject IGameService GameService

<div class="container">
@if (game !=  null)
{   
            <div class="boxscore">
            
                <div class="boxscore-header">
                    
                    <div class="boxscore-header-logo">
                        <img src=@($"../Images/Logos/{game.HomeTeam}.svg") alt="Team logo" width="90">
                    </div>
                  
                    <div class="boxscore-header-score">
                        <span>@game.HomeTeamScore - @game.AwayTeamScore</span>
                    </div>
                    
                    <div class="boxscore-header-logo">
                        <img src=@($"../Images/Logos/{game.AwayTeam}.svg") alt="Team logo" width="90">
                    </div>
                    
                </div>
            </div>
            
            <div class="tabs-container">
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="bio-tab" data-bs-toggle="tab" data-bs-target="#bio-tab-pane" type="button" role="tab" aria-controls="bio-tab-pane" aria-selected="true">@game.HomeTeam</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">@game.AwayTeam</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="bio-tab-pane" role="tabpanel" aria-labelledby="bio-tab" tabindex="0">
                  
                        <div class="table-responsive">
                        <table class="table" >
                                                                           <thead>
                                                                               <tr>
                                                                                   @foreach (var h in headings)
                                                                                   {
                                                                                   <th>@h</th>
                                                                                   }
                                                                               </tr>
                                                                           </thead>
                                                                           <tbody>
                                                                               @foreach (var row in game.HomePlayerGameStats.Select((value, index) => new { Value = value, Index = index }))
                                                                               {
                                                                               <tr>
                                                                                  <td style="text-align: left">  <a href="@($"players/{@row.Value.PlayerId}")"> @row.Value.Name </a><span>@row.Value.Pos</span></td>
                                                                                   <td>@Format(row.Value.Min)</td>
                                                                                   <td>@row.Value.Fg-@row.Value.Fga</td>
                                                                                   <td>@row.Value.Tp-@row.Value.Tpa</td>
                                                                                   <td>@row.Value.Ft-@row.Value.Fta</td>
                                                                                   <td>@row.Value.Orb</td>
                                                                                   <td>@row.Value.Trb</td>
                                                                                   <td>@row.Value.Ast</td>
                                                                                   <td>@row.Value.Tov</td>
                                                                                   <td>@row.Value.Stl</td>
                                                                                   <td>@row.Value.Blk</td>
                                                                                   <td>@row.Value.Pf</td>
                                                                                   <td>@row.Value.Pts</td>
                                                                               </tr>
                                                                               @if (row.Index == 4)
                                                                               {
                                                                               <tr>
                                                                                   <td colspan="14">
                                                                                       <hr style="border-top: 1px solid #e0e0e0; margin: 0;">
                                                                                   </td>
                                                                               </tr>
                                                                               }
                                                                               }
                                                                           </tbody>
                                                                       </table>
                        </div>
                        
                        
                    </div>
                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                        
                        <div class="table-responsive">
                            <table class="table" >
                                <thead>
                                <tr>
                                    @foreach (var h in headings)
                                    {
                                        <th>@h</th>
                                    }
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var row in game.AwayPlayerGameStats.Select((value, index) => new { Value = value, Index = index }))
                                {
                                    <tr>
                                        <td style="text-align: left"> <a href="@($"players/{@row.Value.PlayerId}")"> @row.Value.Name </a><span>@row.Value.Pos</span></td>
                                        <td>@Format(row.Value.Min)</td>
                                        <td>@row.Value.Fg-@row.Value.Fga</td>
                                        <td>@row.Value.Tp-@row.Value.Tpa</td>
                                        <td>@row.Value.Ft-@row.Value.Fta</td>
                                        <td>@row.Value.Orb</td>
                                        <td>@row.Value.Trb</td>
                                        <td>@row.Value.Ast</td>
                                        <td>@row.Value.Tov</td>
                                        <td>@row.Value.Stl</td>
                                        <td>@row.Value.Blk</td>
                                        <td>@row.Value.Pf</td>
                                        <td>@row.Value.Pts</td>
                                    </tr>
                                    @if (row.Index == 4)
                                    {
                                        <tr>
                                            <td colspan="14">
                                                <hr style="border-top: 1px solid #e0e0e0; margin: 0;">
                                            </td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
}
</div>
