@inject NavigationManager NavigationManager
 
<MudContainer>
    <div class="container">
            @foreach (var player in team.Players)
            {  
               <div class="@team.Abrv card"  @onclick="() => NavigateToPlayerPage(player.Id)">   
               
                <MudCardHeader Style="margin-bottom: 0; padding-bottom: 0">
                   <CardHeaderAvatar>
                      <MudAvatar Size="Size.Large" >
                        <img src="@player.ImgUrl" class="@team.Abrv"/>
                      </MudAvatar>
                   </CardHeaderAvatar>
                   <CardHeaderContent>
                      <p>@player.FirstName</p>
                       <span>@player.LastName</span>
                    </CardHeaderContent>
                </MudCardHeader>
                   <MudCardContent Style="background-color: #03234C; margin: 10px;">     
                       
                     <div class="info">
                        <MudRating SelectedValue="2" Size="Size.Small" ReadOnly="true" />
                        <p>Shooting Guard</p> 
                        <p>3rd Season</p> 
                        <p> @Util.InchesToCm(player.Height)cm, @Util.LbsToKg(player.Weight)kg, 20 years</p> 
                        <p> $ 6,243,665 (2)</p> 
                        <p> 21.0 PPG - 4.4 APG - 3.6 RPG</p> 
                     </div>
                    </MudCardContent>

               </div>
            }   
    </div>
</MudContainer>
