@page "/simup"
@inject ITeamService TeamService
@inject IGameService GameService
@using System.Globalization;

 <div class="teams">
      <MudSelect Style="width: 150px; margin: 10px;" Dense="true" T="int" Label="Times 1" Variant="Variant.Text" 
        ValueChanged="value => OnHomeTeamSelected(value)">
            @foreach (var team in teams)
            {
                <MudSelectItem Value="@(team.Id)">@team.Name</MudSelectItem>
            }
      </MudSelect>
      
      <MudSelect Style="width: 150px; margin: 10px;" Dense="true" T="int" Label="Times 2" Variant="Variant.Text" 
           ValueChanged="value => OnAwayTeamSelected(value)">
            @foreach (var team in teams)
            {
                <MudSelectItem Value="@(team.Id)" >@team.Name</MudSelectItem>
            }
      </MudSelect>

      <MudButton Variant="Variant.Outlined" disabled="@(homeTeamId == 99 || awayTeamId == 99)" OnClick="CreateGame">Simular</MudButton>

</div>

<div class="player">

      <div class="players-home">
        
        @if (homeTeam != null) {

             <MudAvatar Style="vertical-align: middle; background: none; margin: 5px"
             Size="Size.Large" Image=@($"Images/logos/{homeTeam.Abrv}.svg") Square="true" />

            @foreach (var player in homeTeam.Players)
            {
               <div class="info">
                    <a href="player/@player.Id" style="display: inline-block; margin-right: 10px;">@player.Name</a>
                    <span style="display: inline-block; margin-right: 10px;">OVR: @player.Ratings.Last().Ovr | POT: @player.Ratings.Last().Pot</span>
                    <p style="display: inline-block; margin-bottom: 0;">
                        Skills:
                        @foreach (string skills in @player.Ratings.Last().Skills)
                        {
                            <span style="padding: 2px; margin-right: 5px;">@skills</span>
                        }
                    </p>
                </div>
            }
        }
       
      </div>

      <div class="players-away">
            @if (awayTeam != null)
            {
                 <MudAvatar Style="vertical-align: middle; background: none; margin: 5px"
                  Size="Size.Large" Image=@($"Images/logos/{awayTeam.Abrv}.svg") Square="true" />

                foreach (var player in awayTeam.Players)
                {
                    <div class="info">
                        <a href="player/@player.Id" style="display: inline-block; margin-right: 10px;">@player.Name</a>
                        <span style="display: inline-block; margin-right: 10px;">OVR: @player.Ratings.Last().Ovr | POT: @player.Ratings.Last().Pot</span>
                        <p style="display: inline-block; margin-bottom: 0;">
                            Skills:
                            @foreach (string skills in @player.Ratings.Last().Skills)
                            {
                                <span style="padding: 2px; margin-right: 5px;">@skills</span>
                            }
                        </p>
                    </div>
                }
            }
          
      </div>

</div>

<div class="game">
      @if (newGame != null) {
          
          <div class="score"> 

              <p>@newGame.AwayTeam <span>@newGame.AwayTeamScore,</span> @newGame.HomeTeam <span>@newGame.HomeTeamScore</span></p>

          </div>

           <div class="boxscore-teams">

            <MudAvatar Style="vertical-align: middle; background: none; margin: 5px" Size="Size.Medium" Image=@($"Images/logos/{newGame.AwayTeam}.svg") Square="true" />
       
            <MudSimpleTable Elevation="0" Outlined="true"  Dense="true" Hover="false" Bordered="true" Striped="true" Style="overflow-x: auto;">
               <thead>
                  <tr>
                     @foreach (var h in headings)
                     {
                     <th>@h</th>
                     }
                  </tr>
               </thead>
               <tbody>
                  @foreach (var row in newGame.AwayPlayerGameStats.Select((value, index) => new { Value = value, Index = index }))
                  {
                  <tr>
                     <td><a href="player/@row.Value.PlayerId">@NomeAbvr(@row.Value.Name)</a></td>
                     <td>@Format(row.Value.Min)</td>
                     <td>@row.Value.Fg-@row.Value.Fga</td>
                     <td>@row.Value.Tp-@row.Value.Tpa</td>
                     <td>@row.Value.Ft-@row.Value.Fta</td>
                     <td>@row.Value.Orb</td>
                     <td>@row.Value.Trb</td>
                     <td>@row.Value.Ast</td>
                     <td>@row.Value.Tov</td>
                     <td>@row.Value.Stl</td>
                     <td>@row.Value.Blk</td>
                     <td>@row.Value.Pf</td>
                     <td>@row.Value.Pts</td>
                  </tr>
                  @if (row.Index == 4)
                  {
                  <tr>
                     <td colspan="14">
                        <hr style="border-top: 1px solid #e0e0e0; margin: 0;">
                     </td>
                  </tr>
                  }
                  }
               </tbody>
            </MudSimpleTable>
         </div>

          
          <div class="boxscore-teams">
            <MudAvatar Style="vertical-align: middle; background: none; margin: 5px" Size="Size.Medium" Image=@($"Images/logos/{newGame.HomeTeam}.svg") Square="true" />

            <MudSimpleTable Elevation="0" Outlined="true"  Dense="true" Hover="false" Bordered="true" Striped="true" Style="overflow-x: auto;">
               <thead>
                  <tr>
                     @foreach (var h in headings)
                     {
                     <th>@h</th>
                     }
                  </tr>
               </thead>
               <tbody>
                  @foreach (var row in newGame.HomePlayerGameStats.Select((value, index) => new { Value = value, Index = index }))
                  {
                  <tr>
                     <td><a href="player/@row.Value.PlayerId">@NomeAbvr(@row.Value.Name)</a></td>
                     <td>@Format(@row.Value.Min)</td>
                     <td>@row.Value.Fg-@row.Value.Fga</td>
                     <td>@row.Value.Tp-@row.Value.Tpa</td>
                     <td>@row.Value.Ft-@row.Value.Fta</td>
                     <td>@row.Value.Orb</td>
                     <td>@row.Value.Trb</td>
                     <td>@row.Value.Ast</td>
                     <td>@row.Value.Tov</td>
                     <td>@row.Value.Stl</td>
                     <td>@row.Value.Blk</td>
                     <td>@row.Value.Pf</td>
                     <td>@row.Value.Pts</td>
                  </tr>
                  @if (row.Index == 4)
                  {
                  <tr>
                     <td colspan="14">
                        <hr style="border-top: 1px solid #e0e0e0; margin: 0;">
                     </td>
                  </tr>
                  }
                  }
               </tbody>
            </MudSimpleTable>
         </div>

      }
</div>
@code {
    private List<TeamSimpleDto> teams = new List<TeamSimpleDto>();

    private TeamCompleteDto? homeTeam;
    private TeamCompleteDto? awayTeam;

    private GameCompleteDto games;
    private GameCompleteDto newGame;

    private int homeTeamId = 99;
    private int awayTeamId = 99;

    private string message = string.Empty;

     string[] headings = { "NAME", "MIN", "FG", "3PT", "FT", "OFF", "REB", "AST", "TO", "STL", "BLK", "PF", "PTS" };

    protected override async Task OnParametersSetAsync()
    {
        message = "Carregando Times...";

        var result = await TeamService.GetAllTeams();
        if (!result.Success)
        {
            message = result.Message;
        }
        else
        {
            teams = result.Data.ToList();
        }
    }

    private async Task OnAwayTeamSelected(int value)
    {
        message = "Carregando Time...";
        var result = await TeamService.GetTeamById(value);
        homeTeamId = value;
        if (!result.Success)
        {
            message = result.Message;
        }
        else
        {
            awayTeam = result.Data;
        }
    }

    private async Task OnHomeTeamSelected(int value)
    {
        message = "Carregando Time...";
        var result = await TeamService.GetTeamById(value);
        awayTeamId = value;
        if (!result.Success)
        {
            message = result.Message;
        }
        else
        {
            homeTeam = result.Data;
        }
    }

    private async Task CreateGame(){

        var game = new CreateGameDto
        {
            HomeTeamId = homeTeamId,
            AwayTeamId = awayTeamId
        };

        games = await GameService.CreateGame(game);

         if (games != null)
        {
            int gameId = games.Id;
            var result = await GameService.UpdateGame(gameId);
        }

        if (games != null)
        {
            int gameId = games.Id;
            var result = await GameService.GetGameById(gameId);
            newGame = result.Data;
        }
        
    }

     public string NomeAbvr(string nomeCompleto)
        {
            string[] partesNome = nomeCompleto.Split(' ');

            if (partesNome.Length < 2)
            {
                return nomeCompleto;
            }

            string primeiroNome = partesNome[0];
            string sobrenome = partesNome[partesNome.Length - 1];

            string primeiraLetra = primeiroNome.Substring(0, 1);

            return $"{primeiraLetra}. {sobrenome}";
        }

        public string Format(double numero)
        {
            string numeroFormatado = numero.ToString("0.0", CultureInfo.InvariantCulture);
            return numeroFormatado;
        }

  }

