@page "/simup"
@inject ITeamService TeamService
@inject IGameService GameService
@using System.Globalization;

<div class="container">

    <div class="row">
        <div class="col">
            <label for="homeTeamSelect" class="form-label">Times 1</label>
            <select id="homeTeamSelect" class="form-select" style="width: 150px; margin: 10px;" @onchange="HandleHomeTeamChange">
                @foreach (var team in teams)
                {
                    <option value="@team.Id">@team.Name</option>
                }
            </select>
        </div>
        <div class="col">
            <label for="awayTeamSelect" class="form-label">Times 2</label>
            <select id="awayTeamSelect" class="form-select" style="width: 150px; margin: 10px;" @onchange="HandleAwayTeamChange">
                @foreach (var team in teams)
                {
                    <option value="@team.Id">@team.Name</option>
                }
            </select>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-primary" disabled="@((homeTeamId == 99 || awayTeamId == 99))" @onclick="CreateGame">Simular</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            @if (homeTeam != null)
            {
                <img src="Images/logos/@(homeTeam.Abrv).svg" class="img-fluid rounded" alt="@homeTeam.Name Logo">
                @foreach (var player in homeTeam.Players)
                {
                    <div class="info">
                        <a href="player/@player.Id">@player.Name</a>
                        <span>OVR: @player.Ratings.Last().CalculateOvr | POT: @player.Ratings.Last().Pot</span>
                        <p>Skills:
                            @foreach (string skill in player.Ratings.Last().Skills)
                            {
                                <span>@skill</span>
                            }
                        </p>
                    </div>
                }
            }
        </div>
        <div class="col">
            @if (awayTeam != null)
            {
                <img src="Images/logos/@(awayTeam.Abrv).svg" class="img-fluid rounded" alt="@awayTeam.Name Logo">
                @foreach (var player in awayTeam.Players)
                {
                    <div class="info">
                        <a href="player/@player.Id">@player.Name</a>
                        <span>OVR: @player.Ratings.Last().CalculateOvr | POT: @player.Ratings.Last().Pot</span>
                        <p>Skills:
                            @foreach (string skill in player.Ratings.Last().Skills)
                            {
                                <span>@skill</span>
                            }
                        </p>
                    </div>
                }
            }
        </div>
    </div>

    <div class="row">
        <div class="col">
            @if (newGame != null)
            {
                <div class="score">
                    <p>@newGame.AwayTeam <span>@newGame.AwayTeamScore,</span> @newGame.HomeTeam <span>@newGame.HomeTeamScore</span></p>
                </div>

                <div class="boxscore-teams">
                    <img src=@($"../Images/Logos/{newGame.AwayTeam}.svg") class="img-fluid rounded" alt="@newGame.AwayTeam Logo">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                @foreach (var h in headings)
                                {
                                    <th>@h</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in newGame.AwayPlayerGameStats.Take(5))
                            {
                                <tr>
                                    <td><a href="player/@row.PlayerId">@NomeAbvr(row.Name)</a></td>
                                    <td>@Format(row.Min)</td>
                                    <td>@row.Fg-@row.Fga</td>
                                    <td>@row.Tp-@row.Tpa</td>
                                    <td>@row.Ft-@row.Fta</td>
                                    <td>@row.Orb</td>
                                    <td>@row.Trb</td>
                                    <td>@row.Ast</td>
                                    <td>@row.Tov</td>
                                    <td>@row.Stl</td>
                                    <td>@row.Blk</td>
                                    <td>@row.Pf</td>
                                    <td>@row.Pts</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="boxscore-teams">
                    <img src=@($"../Images/Logos/{newGame.HomeTeam}.svg") class="img-fluid rounded" alt="@newGame.HomeTeam Logo">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                @foreach (var h in headings)
                                {
                                    <th>@h</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in newGame.HomePlayerGameStats.Take(5))
                            {
                                <tr>
                                    <td><a href="player/@row.PlayerId">@NomeAbvr(row.Name)</a></td>
                                    <td>@Format(row.Min)</td>
                                    <td>@row.Fg-@row.Fga</td>
                                    <td>@row.Tp-@row.Tpa</td>
                                    <td>@row.Ft-@row.Fta</td>
                                    <td>@row.Orb</td>
                                    <td>@row.Trb</td>
                                    <td>@row.Ast</td>
                                    <td>@row.Tov</td>
                                    <td>@row.Stl</td>
                                    <td>@row.Blk</td>
                                    <td>@row.Pf</td>
                                    <td>@row.Pts</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>

</div>
