@page "/draft/player/{team:int}/{pick:int}"
@attribute [Authorize]
@inject IDraftService DraftService
@inject IAuthService AuthService
@inject IPlayerService PlayerService
@inject ILocalStorageService LocalStorage
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<AuthorizeView>
<div class="container">
 @if (players != null)
 {
  <MudSelect Style="margin: 10px" Margin="Margin.Dense" Dense="true" T="string" Label="Filter" Variant="Variant.Outlined"  ValueChanged="@HandlePositionChanged">
        <MudSelectItem Value="@("ALL")" />
        <MudSelectItem Value="@("PG")" />
        <MudSelectItem Value="@("SG")" />
        <MudSelectItem Value="@("G")" />
        <MudSelectItem Value="@("GF")" />
        <MudSelectItem Value="@("SF")" />
        <MudSelectItem Value="@("PF")" />
        <MudSelectItem Value="@("F")" />
        <MudSelectItem Value="@("FC")" />
        <MudSelectItem Value="@("C")" />
  </MudSelect>
      
  <MudTable Style="margin: 10px"  Margin="Margin.Dense" Dense="true"  Items="@filteredPlayers" Breakpoint="Breakpoint.None" HorizontalScrollbar="true">
    <HeaderContent>
        <MudTh></MudTh>
        <MudTh><MudTableSortLabel Enabled="@false" SortBy="new Func<PlayerCompleteDto, object>(x=>x.Name)">NAME</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel Enabled="@false" SortBy="new Func<PlayerCompleteDto, object>(x=>x.Born.Year)">AGE</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel Enabled="@false" SortBy="new Func<PlayerCompleteDto, object>(x=>x.Pos)">POS</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PlayerCompleteDto, object>(x=>x.Ratings.Last().CalculateOvr)">OVR</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PlayerCompleteDto, object>(x=>x.Ratings.Last().Pot)">POT</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PlayerCompleteDto, object>(x=>x.Ratings.Last().Ins)">INS</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PlayerCompleteDto, object>(x=>x.Ratings.Last().Dnk)">DNK</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PlayerCompleteDto, object>(x=>x.Ratings.Last().Ft)">FT</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PlayerCompleteDto, object>(x=>x.Ratings.Last().Fg)">2P</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PlayerCompleteDto, object>(x=>x.Ratings.Last().Tp)">3P</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PlayerCompleteDto, object>(x=>x.Ratings.Last().Drb)">DRB</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PlayerCompleteDto, object>(x=>x.Ratings.Last().Pss)">PAS</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PlayerCompleteDto, object>(x=>x.Ratings.Last().Reb)">REB</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PlayerCompleteDto, object>(x=>x.Ratings.Last().Hgt)">HGT</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PlayerCompleteDto, object>(x=>x.Ratings.Last().Stre)">STR</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PlayerCompleteDto, object>(x=>x.Ratings.Last().Spd)">SPD</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PlayerCompleteDto, object>(x=>x.Ratings.Last().Jmp)">JMP</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PlayerCompleteDto, object>(x=>x.Ratings.Last().Endu)">END</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate Context="data">
        <MudTd><MudIconButton OnClick="@(() => DraftPlayer(data.Id))" Icon="@Icons.Material.Filled.AddCircle" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" /></MudTd>
        <MudTd Style="white-space: nowrap;" DataLabel="NAME"><a  style="color: blue" href="@("player/" + data.Id)">@data.Name</a></MudTd>
        <MudTd DataLabel="AGE">@(season - data.Born.Year)</MudTd>
        <MudTd DataLabel="OVR">@data.Pos</MudTd>
        <MudTd DataLabel="OVR">@data.Ratings.Last().CalculateOvr</MudTd>
        <MudTd DataLabel="POT">@data.Ratings.Last().Pot</MudTd>
        <MudTd DataLabel="INS">@data.Ratings.Last().Ins</MudTd>
        <MudTd DataLabel="DNK">@data.Ratings.Last().Dnk</MudTd>
        <MudTd DataLabel="FT"> @data.Ratings.Last().Ft</MudTd>
        <MudTd DataLabel="2P"> @data.Ratings.Last().Fg</MudTd>
        <MudTd DataLabel="3P"> @data.Ratings.Last().Tp</MudTd>
        <MudTd DataLabel="DRB">@data.Ratings.Last().Drb</MudTd>
        <MudTd DataLabel="PAS">@data.Ratings.Last().Pss</MudTd>
        <MudTd DataLabel="REB">@data.Ratings.Last().Reb</MudTd>
        <MudTd DataLabel="HGT">@data.Ratings.Last().Hgt</MudTd>
        <MudTd DataLabel="STR">@data.Ratings.Last().Stre</MudTd>
        <MudTd DataLabel="SPD">@data.Ratings.Last().Spd</MudTd>
        <MudTd DataLabel="JMP">@data.Ratings.Last().Jmp</MudTd>
        <MudTd DataLabel="END">@data.Ratings.Last().Endu</MudTd>
    </RowTemplate>
  </MudTable>
 }
 </div>
 </AuthorizeView>

