@page "/draft"
@inject IDraftService DraftService
@inject IAuthService AuthService
@inject ITeamService TeamService
@inject IPlayerService PlayerService
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
  
<MudContainer>
@if (drafts != null)
{
     <div class="draft">
      <table>
                <thead>
                    <tr>
                        @foreach (var h in headings)
                        {
                            <th>@h</th>

                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (index, draft) in drafts.Select((g, i) => (i, g)))
                    {
                        <tr>
                           <td>@draft.Round</td>
                           <td>@draft.Pick</td>
                           <td><a href="team/@draft.TeamId"><MudAvatar Style="vertical-align: middle; background: none" Size="Size.Small" Image=@($"Images/logos/{draft.TeamAbrv}.svg") Square="true" />@draft.TeamName</a> 
                           @if (draft.TeamAbrv != draft.Original)
                           {
                             <span> via @draft.Original</span> 
                           }
                           </td>
                          <td>
                                @if (draft.PlayerId != null)
                                {
                                    @draft.PlayerName
                                } else
                                {
                                      @if(onTheClockShown)
                                      {
                                            if (UserTeamId == draft.TeamId)
                                            {
                                               <MudIconButton Href="@("/draft/player/" + draft.TeamId)" Style="margin-right: 5px" Icon="@Icons.Material.Filled.AddCircleOutline" Color="Color.Primary" Size="Size.Small" />
                                            }

                                            @getOnClock(nextPick.TeamId, draft.TeamId)
                                      }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
      </table>
     </div>
}

    @if (UserTeamId != 0)
    {
        @UserTeamId
    }
</MudContainer>
