@page "/stats/teams"
@inject IStatsService StatsService

<MudContainer>
@if (categoryLists.ContainsKey("Pts"))
{
<h3>TEAM LEADERS</h3>    

 <div class="stats">

     <table>
        <thead>
            <tr>
                <th>POINTS</th>
                <th>PTS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (stats, index) in categoryLists["Pts"].Select((s, i) => (s, i)))
            {
                <tr>
                    <td>
                       @(index + 1). <a href=@("/team/" + stats.TeamId) >@stats.TeamName</a>
                    </td>
                    <td>@stats.PtsPG</td>
                </tr>
            }
        </tbody>
    </table>


   <table>
    <thead>
        <tr>
            <th>POINTS ALLOWED</th>
            <th>PTS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (stats, index) in categoryLists["AllowedPts"].Select((s, i) => (s, i)))
        {
            <tr>
                <td>@(index + 1). <a href=@("/team/" + stats.TeamId)>@stats.TeamName</a></td>
                <td>@stats.AllowedPtsPG</td>
            </tr>
        }
    </tbody>
   </table>

   <table>
    <thead>
        <tr>
            <th>REBOUNDS</th>
            <th>REB</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (stats, index) in categoryLists["Reb"].Select((s, i) => (s, i)))
        {
            <tr>
                <td>@(index + 1). <a href=@("/team/" + stats.TeamId)>@stats.TeamName</a></td>
                <td>@stats.RebPg</td>
            </tr>
        }
    </tbody>
   </table>

   <table>
    <thead>
        <tr>
            <th>ASSISTS</th>
            <th>AST</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (stats, index) in categoryLists["Ast"].Select((s, i) => (s, i)))
        {
            <tr>
                <td>@(index + 1). <a href=@("/team/" + stats.TeamId)>@stats.TeamName</a></td>
                <td>@stats.AstPg</td>
            </tr>
        }
    </tbody>
   </table>

   <table>
    <thead>
        <tr>
            <th>BLOCKS</th>
            <th>BLK</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (stats, index) in categoryLists["Blk"].Select((s, i) => (s, i)))
        {
            <tr>
                <td>@(index + 1). <a href=@("/team/" + stats.TeamId)>@stats.TeamName</a></td>
                <td>@stats.BlkPg</td>
            </tr>
        }
    </tbody>
   </table>

   <table>
    <thead>
        <tr>
            <th>STEALS</th>
            <th>STL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (stats, index) in categoryLists["Stl"].Select((s, i) => (s, i)))
        {
            <tr>
                <td>@(index + 1). <a href=@("/team/" + stats.TeamId)>@stats.TeamName</a></td>
                <td>@stats.StlPg</td>
            </tr>
        }
    </tbody>
   </table>

   <table>
    <thead>
        <tr>
            <th>TURNOVERS</th>
            <th>TOV</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (stats, index) in categoryLists["TO"].Select((s, i) => (s, i)))
        {
            <tr>
                <td>@(index + 1). <a href=@("/team/" + stats.TeamId)>@stats.TeamName</a></td>
                <td>@stats.TOPg</td>
            </tr>
        }
    </tbody>
   </table>

   <table>
    <thead>
        <tr>
            <th>OFFENSIVE EFFICIENCY</th>
            <th>OFF</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (stats, index) in categoryLists["OFF"].Select((s, i) => (s, i)))
        {
            <tr>
                <td>@(index + 1). <a href=@("/team/" + stats.TeamId)>@stats.TeamName</a></td>
                <td>@stats.OffensiveEfficiency</td>
            </tr>
        }
    </tbody>
   </table>

   <table>
    <thead>
        <tr>
            <th>DEFENSIVE EFFICIENCY</th>
            <th>DFF</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (stats, index) in categoryLists["DFF"].Select((s, i) => (s, i)))
        {
            <tr>
                <td>@(index + 1). <a href=@("/team/" + stats.TeamId)>@stats.TeamName</a></td>
                <td>@stats.DefensiveEfficiency</td>
            </tr>
        }
    </tbody>
   </table>

   <table>
    <thead>
        <tr>
            <th>FIELD GOAL MADE</th>
            <th>FGM</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (stats, index) in categoryLists["FG"].Select((s, i) => (s, i)))
        {
            <tr>
                <td>@(index + 1). <a href=@("/team/" + stats.TeamId)>@stats.TeamName</a></td>
                <td>@stats.FgPg</td>
            </tr>
        }
    </tbody>
   </table>

   <table>
    <thead>
        <tr>
            <th>FIELD GOAL ATTEMPT</th>
            <th>FGA</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (stats, index) in categoryLists["FGA"].Select((s, i) => (s, i)))
        {
            <tr>
                <td>@(index + 1). <a href=@("/team/" + stats.TeamId)>@stats.TeamName</a></td>
                <td>@stats.FgaPg</td>
            </tr>
        }
    </tbody>
   </table>

      <table>
    <thead>
        <tr>
            <th>FIELD GOAL PERCENTAGE</th>
            <th>FG%</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (stats, index) in categoryLists["FGPct"].Select((s, i) => (s, i)))
        {
            <tr>
                <td>@(index + 1). <a href=@("/team/" + stats.TeamId)>@stats.TeamName</a></td>
                <td>@stats.FgPct</td>
            </tr>
        }
    </tbody>
   </table>

      <table>
    <thead>
        <tr>
            <th>THREE-POINTER MADE</th>
            <th>TPM</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (stats, index) in categoryLists["TP"].Select((s, i) => (s, i)))
        {
            <tr>
                <td>@(index + 1). <a href=@("/team/" + stats.TeamId)>@stats.TeamName</a></td>
                <td>@stats.TPPg</td>
            </tr>
        }
    </tbody>
   </table>

   <table>
    <thead>
        <tr>
            <th>THREE-POINTER ATTEMPT</th>
            <th>TPA</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (stats, index) in categoryLists["TPA"].Select((s, i) => (s, i)))
        {
            <tr>
                <td>@(index + 1). <a href=@("/team/" + stats.TeamId)>@stats.TeamName</a></td>
                <td>@stats.TPaPg</td>
            </tr>
        }
    </tbody>
   </table>

      <table>
    <thead>
        <tr>
            <th>THREE-POINTER PERCENTAGE</th>
            <th>TP%</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (stats, index) in categoryLists["TPPct"].Select((s, i) => (s, i)))
        {
            <tr>
                <td>@(index + 1). <a href=@("/team/" + stats.TeamId)>@stats.TeamName</a></td>
                <td>@stats.TPPct</td>
            </tr>
        }
    </tbody>
   </table>

   <table>
    <thead>
        <tr>
            <th>FREE THROW MADE</th>
            <th>FTM</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (stats, index) in categoryLists["FT"].Select((s, i) => (s, i)))
        {
            <tr>
                <td>@(index + 1). <a href=@("/team/" + stats.TeamId)>@stats.TeamName</a></td>
                <td>@stats.FTPg</td>
            </tr>
        }
    </tbody>
   </table>

   <table>
    <thead>
        <tr>
            <th>FREE THROW ATTEMPT</th>
            <th>FTA</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (stats, index) in categoryLists["FTA"].Select((s, i) => (s, i)))
        {
            <tr>
                <td>@(index + 1). <a href=@("/team/" + stats.TeamId)>@stats.TeamName</a></td>
                <td>@stats.FTaPg</td>
            </tr>
        }
    </tbody>
   </table>

   <table>
    <thead>
        <tr>
            <th>FREE THROWPERCENTAGE</th>
            <th>FT%</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (stats, index) in categoryLists["FTPct"].Select((s, i) => (s, i)))
        {
            <tr>
                <td>@(index + 1). <a href=@("/team/" + stats.TeamId)>@stats.TeamName</a></td>
                <td>@stats.FTPct</td>
            </tr>
        }
    </tbody>
   </table>

  </div>
}
else
{
@message
}
</MudContainer>


