@using NBALigaSimulation.Client.Utilities
@inject IGameService GameService
@inject NavigationManager NavigationManager

@if (_gamesWithRecord.Any())
{
    <div class="schedule-table-wrapper">
        <table class="schedule-table">
            <thead>
                <tr>
                    @foreach (var h in headings)
                    {
                        <th>@h</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in _gamesWithRecord)
                {
                    var game = item.Game;
                    <tr>
                        <td>@game.Week</td>
                        <td>@game.GameDate.ToShortDateString()</td>
                        <td @onclick="() => NavigateToTeamPage(game.HomeTeamId)">
                            <img src=@($"../Images/Logos/{game.HomeTeam}.svg") alt="@game.HomeTeam logo">
                        </td>
                        <td @onclick="() => NavigateToTeamPage(game.AwayTeamId)">
                            <img src=@($"../Images/Logos/{game.AwayTeam}.svg") alt="@game.AwayTeam logo">
                        </td>
                        <td>@item.Record</td>
                        @if (game.HomeTeamScore > 0)
                        {
                            <td>
                                <span class="@GetScoreClass(game)">@GetWinLoss(game)</span>
                                <a class="result-link ms-2" href="game/@game.Id">
                                    @game.AwayTeamScore - @game.HomeTeamScore
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>TBD</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container text-center p-4">
        <p>Nenhum jogo encontrado para este time.</p>
    </div>
}
