@using NBALigaSimulation.Client.Utilities
@using NBALigaSimulation.Client.Pages.Players.PlayerPage
@inject NavigationManager NavigationManager
@if(_team.Players.Count > 0)
{
    <div class="container">
        @foreach (var _player in _team.Players)
        {  
   
            <div class="card mb-4" style="width: 10rem;" @onclick="() => NavigateToPlayerPage(_player.Id)">
                <div class="player-header-card-img @_player.TeamAbrv">
                     <img src="@_player.ImgUrl" alt="Foto do jogador">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@_player.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Util.Position(_player.Pos)</h6>
                    <div class="card-player-info">
                        <p><span class="text-muted">Age:</span> @Util.Age(season, _player.Born.Year)</p>
                        <p><span class="text-muted">HT/WT:</span> @Util.InchesToCm(_player.Hgt)cm, @Util.LbsToKg(_player.Weight)kg </p>
                        <p><span class="text-muted">Experience:</span> @_player.Ratings.Count Season</p>
                        @if (_player.Contract != null)
                        {
                            <p><span class="text-muted">Contract:</span> $ @_player.Contract.Amount.ToString("N0")</p>
                        }
                        <p>
                            <span class="badge @Util.GetBadgeClass(_player.Ratings.LastOrDefault().CalculateOvr)">@_player.Ratings.LastOrDefault().CalculateOvr</span>
                            <span class="badge @Util.GetBadgeClass(@_player.Ratings.LastOrDefault().Pot)">@_player.Ratings.LastOrDefault().Pot</span>
                        </p>
                    </div>
                    <div class="card-player-stats">
                        @if (_player.RegularStats.Count > 0 )
                        {
                                <table class="stats">
                                    <thead>
                                    <tr>
                                        <th colspan="3">SEASON STATS</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <span>PTS</span>
                                            @_player.RegularStats.LastOrDefault().PtsPG
                                        </td>
                                        <td>
                                            <span>REB</span>
                                            @_player.RegularStats.LastOrDefault().TRebPG
                                        </td>
                                        <td>
                                            <span>AST</span>
                                            @_player.RegularStats.LastOrDefault().AstPG
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                        }
                    </div>
                       
                </div>
            </div>
        }   
    </div>
}
