@using NBALigaSimulation.Client.Utilities
@inject IStatsService StatsService
@if (_team != null)
{
    
    <div class="team-header @_team.Abrv">
        
        <div class="team-header-card">
        
            <div class="team-header-card-bio">
        
                <div class="team-header-card-img">
                    <img src=@($"../Images/Logos/{_team.Abrv}.svg") alt="Foto do jogador" width="25">
                </div>
            
                <div class="team-header-card-info">
                    <h3>@_team.Region @_team.Name</h3>
                    <p> - </p>
                </div>
            
            </div>
            
            @if (_stats != null )
            {
                
                <div class="team-header-stats">
                    <table class="stats">
                        <thead>
                        <tr>
                            <th colspan="4">SEASON STATS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span>PPG</span>
                                @_stats.Ppg
                                <p class="rank">@(Util.GetOrdinal(ppgRank))</p>
                            </td>
                            <td>
                                <span>REB</span>
                                @_stats.Rpg
                                <p class="rank">@(Util.GetOrdinal(rpgRank))</p>
                            </td>
                            <td>
                                <span>AST</span>
                                @_stats.Apg
                                <p class="rank">@(Util.GetOrdinal(apgRank))</p>
                            </td>
                            <td>
                                <span>OPPG</span>
                                @_stats.Oppg
                                <p class="rank">@(Util.GetOrdinal(apgRank))</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                
            }
           
            
        </div>
        
    </div>
    
    
    
}

